.dashboard {
  font-family: 'Oxygen', sans-serif !important;
}

.dashboard__header {

  .dashboard__title {
    text-align: center;
    font-size: 2.5em;
  }
}



.dashboard__left {

}

.dashboard__right {

}
